html {
  border-radius: 25px;
}
body {
  font: bold 10pt tahoma, sans-serif;
  color: #FCFCFC;
  margin: 0px;
  padding: 5px;
  background: url(background.png) no-repeat;
  width: 125px;
  height: 175px;
  border: black solid 2px;
  border-radius: 50px;
}

#descText {
  padding: 0 5px 0 0;
  text-align: center;
  font-size: 8.5pt;
}

#BtcDIV, #EthDIV, #EtcDIV, #ZecDIV {
   padding-bottom: 2px;
}

div.container {
  text-align: center;
  padding-top: 6px;
}

div.container-middle {
  text-align: center;
  padding-top: 17px;
}

td.left {
  width: 35px;
  font-size: 11.5pt;
  text-align: left;
  color: #E2C7C7;
}

td.left div {
  position: relative;
  top: -1px;
  color: #111;
  font-weight: bold;
}

td.right {
  width: 41px;
  line-height: 18px;
  padding-right: 4px;
  text-align: right;
  font-weight: bold;
  border: #c0c0c0 1px solid;
}

div.value {
  color: #111;
  width: 100%;
  font-size: 10pt;
  text-align: right;
  position: relative;
}

td.left2 {
  width: auto;
  padding-right: 2px;
  font-size: 10pt;
  text-align: left;
  color: #E2C7C7;
}

td.left2 div {
  position: relative;
  top: -1px;
  color: #111;
  font-weight: bold;
}

td.right2 {
  width: 68px;
  line-height: 18px;
  padding-right: 4px;
  text-align: right;
  font-weight: bold;
  border: #c0c0c0 1px solid;
}

div.value2 {
  color: #111;
  width: 100%;
  font-size: 9pt;
  text-align: right;
  position: relative;
}

div.valueBackground {
  position: absolute;
  width: 73px;
  height: 18px;
  filter: alpha(opacity = 70);
  background-color: #fff;
  z-index: -100;
}

div.valueBackground2 {
  position: absolute;
  width: 45px;
  height: 18px;
  filter: alpha(opacity = 70);
  background-color: #fff;
  z-index: -100;
}

#zec_last_seen, #eth_last_seen, #etc_last_seen, #btz_last_seen {
  font-size: 9px;
}

#BtzDIV, #BtgDIV, #ZenDIV {
  border-top: #111 solid 1px;
}