html {
  border-radius: 25px;
}
body {
  font: bold 10pt tahoma, sans-serif;
  color: #FCFCFC;
  margin: 0px;
  padding: 5px;
  background: url(background.png) no-repeat;
  width: 125px;
  height: 175px;
  border: black solid 2px;
  border-radius: 50px;
}

div.container {
  text-align: center;
  padding-top: 6px;
}

.value {
  padding-right: 4px;
  text-align: right;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

div.container-middle {
  padding-top: 5px;
  padding-left: 15px;
}

.icon {
  font-size: 13px;
  font-weight: bold;
  width: 10px;
  padding-right: 2px;
}

.dollar_column {
  position: relative;
  filter: alpha(opacity = 70);
  background-color: #fff;
  z-index: -100;
  width: 44px;
  line-height: 19px;
}

td.left {
  width: auto;
  line-height: 18px;
  padding: 0px;
  text-align: right;
  font-weight: bold;
  border: #c0c0c0 1px solid;
}

.btc_column {
  position: relative;
  filter: alpha(opacity = 70);
  background-color: #fff;
  z-index: -100;
  width: 48px;
  line-height: 19px;
}

td.right {
  width: auto;
  line-height: 18px;
  padding: 0px;
  text-align: right;
  font-weight: bold;
  border: #c0c0c0 1px solid;
}

.bitcoin_rate {
  width: 68px;
  position: relative;
  filter: alpha(opacity = 70);
  background-color: #fff;
  z-index: -100;
  line-height: 19px;
  text-align: center;
}

.mining_stats {
  width: 84px;
  position: relative;
  filter: alpha(opacity = 70);
  background-color: #fff;
  z-index: -100;
  line-height: 19px;
  text-align: center;
}


